USE [master]
GO
/****** Object:  Database [GatewayDB]    Script Date: 3/2/2021 3:07:41 PM ******/
CREATE DATABASE [GatewayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GatewayDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCALINSTANCE\MSSQL\DATA\GatewayDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GatewayDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.LOCALINSTANCE\MSSQL\DATA\GatewayDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GatewayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GatewayDB]
GO
/****** Object:  Table [dbo].[Gateway]    Script Date: 3/2/2021 3:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gateway](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](150) NULL,
	[Name] [nvarchar](150) NULL,
	[IPV4Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Gateway_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PeripheralDevice]    Script Date: 3/2/2021 3:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeripheralDevice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UID] [int] NULL,
	[Vendor] [nvarchar](max) NULL,
	[CreationDate] [datetime] NOT NULL CONSTRAINT [DF_PeripheralDevice_CreationDate]  DEFAULT (getdate()),
	[Status] [bit] NOT NULL CONSTRAINT [DF_PeripheralDevice_Status]  DEFAULT ((0)),
	[GatewayId] [int] NOT NULL,
 CONSTRAINT [PK_PeripheralDevice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Gateway] ON 

INSERT [dbo].[Gateway] ([Id], [SerialNumber], [Name], [IPV4Address]) VALUES (1, N'asdfg', N'waelgate', N'1.1.168.240')
INSERT [dbo].[Gateway] ([Id], [SerialNumber], [Name], [IPV4Address]) VALUES (3, N'qw', N'mohamed', N'1.1.168.234')
SET IDENTITY_INSERT [dbo].[Gateway] OFF
SET IDENTITY_INSERT [dbo].[PeripheralDevice] ON 

INSERT [dbo].[PeripheralDevice] ([Id], [UID], [Vendor], [CreationDate], [Status], [GatewayId]) VALUES (1, 1, N'wael', CAST(N'2021-02-01 00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[PeripheralDevice] ([Id], [UID], [Vendor], [CreationDate], [Status], [GatewayId]) VALUES (2, 2, N'emad', CAST(N'2021-03-01 13:02:46.883' AS DateTime), 1, 1)
INSERT [dbo].[PeripheralDevice] ([Id], [UID], [Vendor], [CreationDate], [Status], [GatewayId]) VALUES (3, 3, N'ahmed', CAST(N'2021-03-01 12:19:18.557' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[PeripheralDevice] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Gateway]    Script Date: 3/2/2021 3:07:41 PM ******/
ALTER TABLE [dbo].[Gateway] ADD  CONSTRAINT [IX_Gateway] UNIQUE NONCLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PeripheralDevice]  WITH CHECK ADD  CONSTRAINT [FK_PeripheralDevice_Gateway] FOREIGN KEY([GatewayId])
REFERENCES [dbo].[Gateway] ([Id])
GO
ALTER TABLE [dbo].[PeripheralDevice] CHECK CONSTRAINT [FK_PeripheralDevice_Gateway]
GO
USE [master]
GO
